@import './listing-card';
@import './buttons';
@import './badges';
@import './progress-bar';

// Other components that are too small to be moved to separate file
.star-list {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: .2rem;

    :not(.not-active) {
        fill: $col-yellow-400;
    }
}
