

.listing-card {
    @extend .card;
    display: grid;
    cursor: pointer;
    position: relative;
    padding-top: 4rem;

    &__header {
        margin-bottom: .2rem;
    }

    &__images {
        margin-bottom: 1.4rem;

        .product {
            max-width: 17.7rem;
            width: 100%;
            height: auto;
        }

        .mark {
            width: auto;
            height: auto;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__advantages {
        margin-bottom: 1.8rem;

        li {
            grid-template-columns: 2rem 1fr;
        }
    }

    &__price-box {
        margin-bottom: 1.8rem;
    }

    &__bulletpoints {
        margin-bottom: 1.4rem;
        grid-template-rows: repeat(3, min-content);

        li {
            grid-template-columns: 2.3rem 1fr;
            column-gap: .9rem;
            align-items: center;
        }
    }

    @include media-query($breakpoint-sm) {
        grid-template-columns: 21.2rem 1fr 27.3rem;
        grid-template-rows: minmax(8.7rem, auto) minmax(2.3rem, auto) 1fr auto;

        &__header {
            margin-right: 3.2rem;
            margin-bottom: 2.3rem;
            grid-column: 2;
            grid-row: 1;
        }

        &__images {
            margin-bottom: 0;
            margin-right: 3.2rem;
            grid-column: 1;
            grid-row: 1 / -1;
        }

        &__advantages {
            margin-right: 3.2rem;
            margin-bottom: 0;
            grid-column: 2;
            grid-row: 2 / -1;
        }

        &__price-box {
            grid-column: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &__bulletpoints {
            margin-bottom: 2.6rem;
            grid-column: 3;
            grid-row: 3;
        }

        &__add-to-basket {
            grid-column: 3;
            grid-row: 4;
        }
    }

    @include media-query($breakpoint-lg) {
        grid-template-columns: 37.9rem 1fr 27.3rem;
        grid-template-rows: minmax(8.7rem, auto) minmax(2.3rem, auto) 1fr auto;

        &__images {
            .product {
                max-width: 100%;
            }
        }
    }
}
